[client]
password=TimoTest123!
[mysqld]
validate_password_length=0
validate_password_mixed_case_count=0
validate_password_number_count=0
validate_password_policy=LOW
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
